* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

#product-overview {
    background: url("freedom.jpg");
    width: 100%;
    height: 528px;
    padding: 10px;   
}

.section-title {
    color: #2ddf5c;
    text-align: center; /* sesion 60 */
}

#product-overview h1 {
    color: white;
    font-family: 'Anton', sans-serif;
}

/* sesion 60 */
.plan {
  background: #d5ffdc;
  text-align: center;
  padding: 16px;
  margin: 8px;
  display: inline-block;
  width: 30%;
  vertical-align: middle;
} /* sesion 60 */

/* sesion 61 */
/* Destacar plan recomendado */
/* usar funciones de color rgba */
.plan--highlighted {
  background: #19b84c;
  color: white;
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.5);
} /* sesion 61 */

/* ! sesion 62 */
.plan__annotation {
  background: white;
  /* contrasta con cards vecinas */
  color: #19b84c;
  /* contrasta contra su nuevo background */
  padding: 8px;
  /* darle más espacio para destacar */
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.5); 
  /* usar la misma sombra de s.61 CONSISTENCIA */
  border-radius: 4px 4px 4px 4px;
  /* para suavizar borde sintaxis de margin */
} 
/* ! mi solución al estilo de los li */
/* 
.plan li {
  list-style: none; 
} sesion 62 */

/* ! sesion 64 working on plans titles and prices */
.plan__title {
  color: #0e4f1f;
}

.plan__price {
  color: #858585;
}

.plan--highlighted .plan__title {
  color: white;
}

.plan--highlighted .plan__price {
  color: #0e4f1f
} /* ! sesion 64 end */

/* ! sesion 63 Solución de Max */
/* ? siempre prefiere clases para dar estilo */
.plan__features {
  /*? puedo agregar el list-style directo al ul-ol */
  list-style: none;
  margin: 0;
  padding: 0;
} 

.plan__feature {
  margin: 8px 0;
} /*! sesion 63 end */


/* ! sesion 65 */
.button {
  background: #0e4f1f;
  color: white;
  font: inherit;
  border: 1.5px solid #0e4f1f;
  padding: 8px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

.button:hover,
.button:active {
  background: white;
  color: #0e4f1f;
} /*! sesion 65 */

/*! sesion 66 */
.button:focus {
  outline: none;
}

/*! sesion 68 */
/** se agrega .section-title a h1 "Many good reasons..." */
#key-features {
  background: #ff1b68;
  margin-top: 80px;
  padding: 16px;
}
#key-features .section-title {
  color: white;
  margin: 32px;
}
/*! sesion 68 end */

/*! sesion 69 */
.key-feature__list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.key-feature {
  display: inline-block;
  width: 30%;
  vertical-align: top;
}

.key-feature__image {
  background: #ffcede;
  width: 128px;
  height: 128px;
  border: 2px solid #424242;
  border-radius: 50%;
  margin: 0 auto;
}

.key-feature__description {
  text-align: center;
  font-weight: bold;
  color: white;
  font-size: 20px;
} /*! sesion 69 end */

/* h1 {
    font-family: sans-serif;
} */

.main-header {
    width: 100%;
    background: #2ddf5c;
    padding: 8px 16px;
}

.main-header > div {
    display: inline-block;
    vertical-align: middle;
}

.main-header__brand {
    color: #0e4f1f;
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
}

.main-nav {
    display: inline-block;
    text-align: right;
    width: calc(100% - 74px);
    vertical-align: middle;
}

.main-nav__items {
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-nav__item {
    display: inline-block;
    margin: 0 16px;
}

.main-nav__item a {
    text-decoration: none;
    color: #0e4f1f;
    font-weight: bold;
    padding: 3px 0;
}

.main-nav__item a:hover,
.main-nav__item a:active {
    color: white;
    border-bottom: 5px solid white;
}

.main-nav__item--cta a {
    color: white;
    background: #ff1b68;
    padding: 8px 16px;
    border-radius: 8px;
}

.main-nav__item--cta a:hover,
.main-nav__item--cta a:active {
    color: #ff1b68;
    background: white;
    border: none;
}

/*! sesion 70 */
.main-footer {
  background: black;
  padding: 32px;
  margin-top: 48px;
} 

.main-footer__links {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.main-footer__link {
  display: inline-block;
  margin: 0 16px;
}

.main-footer__link a {
  color: white;
  text-decoration: none;
}

.main-footer__link a:hover,
.main-footer__link a:active {
  color: #ccc;
}
/*! sesion 70 */



